body {
    font-family: sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 5px;
    border: 1px solid #ddd;
  }
  
  #no-orders-message {
    text-align: center;
    font-weight: bold;
  }
  